---
import { getEntry } from "astro:content";
import { marked } from "marked";
import { Icon } from "astro-icon";
import { t } from "@util/translate";
import Newsletter from "@components/form/NewsletterFooter.vue";

const today = new Date();
let about = await getEntry("config", "about");
let contact = await getEntry("config", "contact");
let navigation = await getEntry("config", "navigation");

const showNewsletter = !!import.meta.env.NEWSLETTER_PROVIDER;
---

<footer class="surface-footer grid grid-cols-1 gap-8 py-8">
  <div class="container-xl mb-4 flex items-end justify-between gap-4">
    <div class="grid grid-cols-1 gap-4">
      <a rel="noopener noreferrer" href="#" aria-label={t("back_to_home")}>
        <Icon name="logo" class="h-8" />
      </a>

      {
        about.data.footer_text && (
          <div
            class="balance max-w-sm pr-4 text-sm opacity-70"
            set:html={marked.parse(about.data.footer_text)}
          />
        )
      }
      {
        contact.data.social && (
          <div class="-ml-1 flex flex-wrap justify-start gap-2 ">
            {contact.data.social.map((link) => (
              <a
                href={link.href}
                class="grid h-full place-items-center transition-transform duration-500 hover:scale-110 "
                target="_blank"
                aria-label={link.label}
              >
                <Icon name={link.icon} class="h-5 w-5" />
              </a>
            ))}
          </div>
        )
      }
      <div class="mt-auto flex gap-2 pt-4 text-xs opacity-70">
        <span>&copy;{today.getFullYear()}</span>
        <span> {about.data.sitename}</span>
      </div>
    </div>

    <!-- ðŸ‘‰ðŸ‘‰ CC BY-ND 4.0 Â©ï¸unfolding.io  ðŸ‘ˆðŸ‘ˆ -->
    <!-- âš ï¸âš ï¸ DO NOT REMOVE THE ATTRIBUTION âš ï¸âš ï¸ -->
    <!-- Or hide this trough css or js. Keep it visible and readeble-->
    <!-- if you want to remove the attribution you can purchase a license at https://nebulix.unfolding.io/shop and support further development  ðŸ™ðŸ™ -->

    <!-- âœŒï¸âœŒï¸ Thanks!âœŒï¸âœŒï¸ -->

    <a
      href="https://www.exiware.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="group inline-flex flex-col items-center gap-1.5 rounded-md p-2 text-center text-xs tracking-widest shadow-inset-s"
    >
      <sup class="pointer-events-none pt-2 opacity-70">powered by</sup>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        viewBox="0 0 292.39 67.02"
        class="pointer-events-none h-4 opacity-60 transition-opacity duration-500 group-hover:opacity-100"
      >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M33.4912 67.03C51.9882 67.03 66.9824 52.0248 66.9824 33.5157C66.9824 15.0052 51.9882 3.05176e-05 33.4912 3.05176e-05C14.9942 3.05176e-05 0 15.0052 0 33.5157C0 52.0248 14.9942 67.03 33.4912 67.03ZM31.3416 50.2478C32.1586 49.5023 32.9862 48.7472 33.83 47.9796C34.6638 48.7611 35.4758 49.5287 36.2752 50.2844C38.0466 51.9589 39.7557 53.5746 41.5005 55.1505C45.0996 58.4036 47.7265 58.1889 50.6682 54.2934C54.0835 49.772 56.8135 44.866 58.7008 39.5014C59.2329 37.9906 59.3819 36.4811 59.1995 34.9424C58.7635 31.2629 55.8552 29.3577 52.4455 30.8378C50.1029 31.8553 48.7889 34.1008 47.564 36.1941C47.5406 36.2341 47.5173 36.274 47.4939 36.3139C46.8171 37.47 46.0823 38.496 45.1954 39.7341C44.655 40.4885 44.0581 41.3217 43.3836 42.3112C42.7969 41.6471 42.2236 40.98 41.6536 40.3167C40.4005 38.8589 39.1632 37.4193 37.8345 36.0686C34.3342 32.5117 32.0764 32.6121 28.6416 36.2791C27.4472 37.5556 26.2562 38.8356 24.9931 40.193C24.44 40.7874 23.8731 41.3966 23.2861 42.0269C22.7012 41.1171 22.1415 40.2348 21.5954 39.3738C20.3963 37.4835 19.2627 35.6963 18.0712 33.9487C15.9847 30.888 12.8787 29.6894 10.4593 30.8741C8.05522 32.0518 7.01058 35.3773 8.21819 38.7725C10.2671 44.5329 13.0988 49.8989 17.0391 54.6195C19.8722 58.0147 22.5716 58.1666 25.8406 55.2383C27.6655 53.6023 29.4762 51.95 31.3416 50.2478Z" fill="white"/>
        <path d="M202.796 41.9596C199.495 42.0112 199.073 42.6941 198.135 44.9144C197.534 46.343 197.706 47.8608 198.209 49.2587C198.287 49.4747 198.846 50.3291 199.201 50.5368C199.275 50.3403 199.165 49.2113 199.127 49.0064C198.894 47.6587 198.963 44.3694 199.776 44.0572C200.413 43.8119 203.058 44.0335 204.691 43.9248C205.242 43.8872 205.797 43.929 206.341 43.8537C206.65 43.8119 206.985 43.8551 207.217 43.653C207.434 43.4635 207.639 43.345 207.639 43.0899C207.64 42.5533 207.452 42.053 206.682 42.053C205.694 42.053 203.236 41.9526 202.796 41.9596ZM211.182 49.9152C210.222 50.5591 208.954 50.5925 207.743 50.5563C205.303 50.4824 199.201 50.5368 199.201 50.5368C199.336 50.7082 199.776 51.2114 200.316 51.3939C201.027 51.6351 201.785 51.8316 202.526 51.8441C205.412 51.8943 208.299 51.8358 211.185 51.8734C212.971 51.8957 213.039 51.9417 213.018 53.7689C212.962 58.6262 213.79 57.9599 208.857 58.0101C206.304 58.0352 203.735 58.2554 201.2 58.0589C196.805 57.7202 194.766 56.2456 193.196 53.2699C190.732 48.5995 190.749 43.6474 193.898 39.2432C195.5 37.0062 197.989 35.5678 200.966 35.4926C202.63 35.4507 204.297 35.5316 205.96 35.48C208.979 35.3838 211.306 36.4835 212.877 38.9979C213.039 39.2585 213.163 39.547 213.238 39.8439C213.73 41.8091 214.416 47.7423 211.182 49.9152Z" fill="white"/>
        <path d="M162.265 52.1021C165.553 52.3139 165.7 52.1425 166.191 51.4122C165.21 50.0895 163.387 50.2777 162.027 50.1578C160.832 50.0519 158.42 49.9125 158.42 51.0665C158.42 52.215 159.577 51.9752 162.265 52.1021ZM121.733 43.9026C121.733 41.9151 121.757 39.929 121.724 37.9429C121.701 36.6578 122.463 36.4321 124.057 36.6927C125.259 36.8878 126.489 36.9227 127.688 36.7178C129.67 36.3791 130.351 36.7011 130.327 38.1631C130.27 41.5834 130.323 43.7716 130.323 48.4253C130.323 49.1696 130.166 49.6839 130.716 50.6372C130.852 50.8756 131.305 51.1934 131.701 51.2198C132.178 51.2519 132.344 50.6108 132.359 50.3501C132.439 49.1417 132.45 47.9278 132.454 46.7166C132.464 43.9584 132.433 41.1987 132.465 38.4405C132.485 36.6885 132.522 36.6314 134.379 36.6272C136.227 36.6244 138.386 36.7122 140.307 36.7749C140.732 36.7889 141.069 37.1512 141.069 37.5763C141.066 39.3548 141.056 41.0426 141.056 42.9535C141.056 44.8281 141.059 46.7041 141.079 48.5814C141.083 49.125 141.029 49.7438 141.264 50.1898C141.481 50.6024 142.07 51.0944 142.463 51.0679C142.878 51.04 143.539 50.516 143.598 50.077C143.724 49.1306 143.598 47.8915 143.598 46.8588V41.2113C143.598 38.0488 143.232 36.5059 145.214 36.5868C147.426 36.6774 149.641 36.7066 151.852 36.761C152.429 36.9282 152.144 37.5596 152.277 39.7213C152.305 40.1604 152.279 44.1256 152.29 44.5646C152.318 45.7507 152.199 47.2574 152.332 48.2957C152.779 47.5431 153.506 46.1284 154.035 45.4371C154.803 44.4364 155.794 43.8928 157.159 43.8692C159.023 43.8357 161.538 43.9347 163.545 43.9347C163.832 43.9347 163.448 43.0524 163.5 42.5465C163.448 42.1716 163.037 42.0489 162.785 42.0266C161.835 41.9388 160.875 41.9625 159.92 41.9472C159.307 41.9374 158.69 41.9235 158.076 41.943C153.385 42.0963 153.571 41.9402 153.596 37.43C153.602 36.5059 153.899 35.9847 154.924 35.9902C157.921 36.0111 160.921 35.8955 163.915 36.0195C166.757 36.138 168.696 37.8425 169.599 40.3722C171.467 45.6155 173.112 50.9383 174.823 56.236C175.218 57.4583 174.908 57.875 173.69 57.981C173.47 58.0005 173.243 57.9642 173.025 57.9907C170.396 58.3168 168.154 58.0019 167.505 54.8534C167.451 54.5899 167.241 54.5509 167.003 54.3265C166.952 54.668 166.982 54.9718 167.022 55.3021C167.326 57.7593 166.782 57.9322 164.431 57.9684C162.434 58.0005 160.428 57.8667 158.439 58.0019C155.747 58.1872 154 57.0666 152.974 54.6485C152.628 53.8373 152.192 53.0624 151.797 52.2721C151.4 53.0331 151.11 53.8805 150.584 54.5412C149.017 56.5008 147.03 57.8639 144.43 57.9712C142.126 58.066 139.746 58.3782 137.684 56.9245C136.954 56.4102 136.468 56.8673 135.89 57.174C133.389 58.4994 130.67 58.2611 128.1 57.7719C124.562 57.0973 121.902 53.5502 121.768 49.8609C121.696 47.8762 121.756 45.8887 121.756 43.9026H121.733Z" fill="white"/>
        <path d="M83.9407 57.2773C82.2776 57.2773 80.6103 57.2982 78.9501 57.2982C76.2368 57.2982 74.6336 56.2459 73.4135 54.3128C71.1459 50.7239 70.6417 46.7753 71.5122 42.6219C71.9746 40.417 72.8521 38.4978 74.525 36.9173C75.9624 35.5584 77.6366 34.8615 79.5671 34.8253C82.4503 34.7695 85.3363 34.7946 88.2195 34.7946C89.9467 34.7946 90.6403 35.0329 90.8757 36.2539C91.1111 37.479 90.9203 38.8351 90.6542 40.0769C90.5832 40.4073 90.0776 40.7236 88.9549 40.7236C86.8489 40.7236 84.7402 40.7487 82.6342 40.7487C81.1341 40.7487 80.8889 40.9676 80.1006 41.2909C79.7092 41.4512 79.3052 41.9418 79.2259 42.4909C79.3707 43.0206 79.0434 43.1836 80.446 43.2366C82.2177 43.3049 83.9936 43.2937 85.7681 43.277C86.7138 43.2687 87.2376 43.631 87.1749 44.6317C87.1609 44.852 87.1735 45.0736 87.1693 45.2938C87.0802 50.0786 87.8616 49.3357 83.2456 49.4095C82.5812 49.4207 81.9085 49.4737 81.2538 49.4374C79.8596 49.3566 79.6019 49.8597 79.6019 50.0813C79.6019 50.827 79.5657 50.6639 81.0575 50.6765C83.1635 50.6932 85.2722 50.6848 87.3796 50.6848C88.044 50.6848 88.7112 50.7434 89.3686 50.7434C90.2406 50.7434 90.2029 51.0556 90.5665 51.2995C91.1682 51.7037 91.4119 56.4592 90.8158 56.9331C90.5122 57.1756 90.0121 57.255 89.5984 57.262C87.7125 57.2954 85.8266 57.2773 83.9407 57.2773Z" fill="white"/>
        <path d="M112.324 39.2986C112.324 39.9592 112.295 40.6213 112.331 41.2805C112.382 42.2338 111.998 42.6422 111.002 42.7077C110.148 42.7635 109.28 42.9892 108.478 43.2959C106.998 43.8603 106.244 44.9308 106.252 46.5921C106.259 48.2312 106.961 49.3253 108.429 49.9483C109.027 50.2019 109.668 50.3887 110.307 50.503C112.261 50.8514 112.271 50.8305 112.314 52.5908C112.332 53.3616 112.325 54.1323 112.314 54.9031C112.281 57.3101 112.278 57.2906 110.002 57.2906C107.856 57.2906 105.673 57.0718 104.125 55.5233C102.705 54.1017 102.045 53.8187 100.344 55.4982C99.2839 56.5449 98.0303 56.7721 96.76 57.0606C92.2681 58.0795 92.3307 57.4885 92.3363 53.7309C92.3363 53.4006 92.3307 53.0703 92.3363 52.74C92.3739 50.9183 92.3795 50.9337 94.1805 50.4905C94.817 50.333 95.4549 50.1337 96.0469 49.8577C97.4216 49.2138 98.4523 48.2465 98.3674 46.6047C98.281 44.9377 97.4787 43.7015 95.8379 43.1105C95.4271 42.9628 95.0162 42.8095 94.5941 42.7077C93.8698 42.5349 92.8294 42.6352 92.4867 42.1892C92.1051 41.6944 92.3391 40.7202 92.3307 39.9522C92.3196 38.9627 92.2764 37.9675 92.3488 36.9808C92.4282 35.8964 93.0202 35.495 94.1066 35.6037C96.7377 35.8671 99.2574 36.3926 101.198 38.1069C102.025 38.8386 102.316 39.2637 103.219 38.2017C104.946 36.1682 107.817 36.2198 110.23 35.5577C111.541 35.1981 112.364 35.8337 112.345 37.318C112.335 37.9773 112.352 38.6379 112.352 39.2986H112.324Z" fill="white"/>
        <path d="M178.667 58.0142C175.272 58.0044 175.228 57.9905 176.215 54.5744C177.516 50.0781 178.855 45.593 180.255 41.126C181.295 37.8047 183.604 36.1531 187.109 36.0569C187.772 36.0388 188.438 36.0471 189.101 36.0555C192.104 36.0903 192.261 36.252 192.221 39.2556C192.187 41.8466 192.126 41.9065 189.347 42.0013C187.191 42.0751 187.151 42.0626 186.467 44.2118C185.344 47.7352 184.354 51.3032 183.173 54.8057C181.886 58.6302 182.772 57.918 178.667 58.0142Z" fill="white"/>
        <path d="M114.317 49.6174C114.317 47.7498 114.338 45.8822 114.308 44.0145C114.294 43.057 114.297 42.6445 115.673 42.6445C121.451 42.6445 120.311 41.8082 120.409 46.9038C120.466 49.8697 120.391 52.837 120.44 55.8015C120.458 56.9207 120.441 57.35 118.91 57.35C113.252 57.35 114.453 58.0664 114.321 52.9137C114.293 51.8154 114.317 50.7157 114.317 49.6174Z" fill="white"/>
        <path d="M120.442 37.4579C120.44 39.6824 118.943 41.274 116.83 41.2963C114.905 41.3186 112.92 39.3409 113.033 37.5151C113.14 35.7645 114.072 33.515 116.838 33.515C118.659 33.515 120.445 35.3826 120.442 37.4579Z" fill="white"/>
        </svg>
    </a>
  </div>
</footer>

<slot />
